/* デフォルトスタイル */
body {
  margin: 10px 350px;
  font-family: YuGothic,游ゴシック,Meiryo,メイリオ,Hiragino Kaku Gothic Pro,ヒラギノ角ゴシック,sans-serif;
  background-color: orange;
}

/* スマートフォンのブレークポイントでのスタイル変更 */
@media(max-width: 599px) {
  body {
    margin: 10px;
  }
}

a, a:visited {
  text-decoration:none;
}
