.nav__title {
  font-size: 24px;
  font-weight: 700;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 20px;
  font-weight: 600;
}

.kyamSiteLogo {
  width: 32px;
  height: 32px;
}
